body {
    background: #003c71;
}

.container {
    background: #ececec;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0 !important;

}

.navbar-brand
{
    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}

.panel-inverse {
    background-color: #222;
    border-color: #080808;
    border-radius: 0;
    color: #fff;
    text-align: center;
}

/*.login_wrapper {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.barcode_wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.camera_wrapper {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}*/

.dataTables_filter {
    display: none;
}

#inner_camera {
  display: inline-block;
}
