body {
    background: #ececec;
}

.footer {
position: relative;
margin-top: -50px; /* negative value of footer height */
height: 50px;
clear:both;
padding-top:20px;
color:#fff;
} 

.footer-intel {
  background-color: #003c71;
  border-color: #fff;
}

#banner-img {
    width:100%;
}

.panel-intel {
    background-color: #003c71;
    border-radius: 0;
    color: #fff;
    text-align: center;
}

/*.login_wrapper {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.barcode_wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.camera_wrapper {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}*/

.dataTables_filter {
    display: none;
}

#inner_camera {
  display: inline-block;
}
