.dataTables_filter {
	display: none;
}
.text_filter {
	/* This is to kill the text bootstrap */
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
		box-shadow: none !important;

	min-width: 40px;
	max-width: 100px;
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border: solid 1px #c9c9c9 !important;
	transition: border 0.3s;
}